<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Our Todo Manager App</title>
  <link rel="stylesheet" type="text/css" href="reset.css">
  <link rel="stylesheet" type="text/css" href="todo-app.css">
</head>

<body>
  <h1>This is in the public folder</h1>
  <main class="TodoPageMain">
    <article>
      <h1 class="TodoPage-title">My Todo-list</h1>
      <section class="AddTodo">
        <input class="AddTodo-text" type="text" placeholder="What's next?">
        <input class="AddTodo-date" type="date">
        <input class="AddTodo-button" type="button" value="Add">
      </section>
      <section class="TodoSection">
        <div class="TodoSectionTitle">
          <p class="TodoSectionTitle-text">Due Today</p>
          <p class="TodoSectionTitle-remainingCount">0/4</p>
        </div>
        <ul>
          <li class="TodoItem">
            <div class="TodoItem-container">
              <input class="TodoItem-checkbox" type="checkbox">
              Submit SaaS 201 project
              <p class="TodoItem-overdueLabel">Overdue</p>
              <a class="TodoItem-delete" href="javascript:void(0)">
                <img src="trashcan.png">
              </a>
            </div>
            <div class="TodoItem-container">
              <input class="TodoItem-checkbox" type="checkbox">
              Call accountant
              <a class="TodoItem-delete" href="javascript:void(0)">
                <img src="trashcan.png">
              </a>
            </div>
          </li>
        </ul>
      </section>
      <section class="TodoSection">
        <div class="TodoSectionTitle">
          <p class="TodoSectionTitle-text">Due Tomorrow</p>
          <p class="TodoSectionTitle-remainingCount">0/3</p>
        </div>
        <ul>
          <li class="TodoItem">
            <div class="TodoItem-container">
              <input class="TodoItem-checkbox" type="checkbox">
              Refill Groceries
              <a class="TodoItem-delete" href="javascript:void(0)">
                <img src="trashcan.png">
              </a>
            </div>
          </li>
        </ul>
      </section>
      <section class="TodoSection">
        <div class="TodoSectionTitle">
          <p class="TodoSectionTitle-text">Remaining</p>
          <p class="TodoSectionTitle-remainingCount">0/3</p>
        </div>
        <ul>
          <li class="TodoItem">
            <div class="TodoItem-container">
              <input class="TodoItem-checkbox" type="checkbox">
              Pay Monthly bills
              <p class="TodoItem-date"> Jan 21</p>
              <a class="TodoItem-delete" href="javascript:void(0)">
                <img src="trashcan.png">
              </a>
            </div>
            <div class="TodoItem-container">
              <input class="TodoItem-checkbox" type="checkbox">
              Complete Assignment
              <p class="TodoItem-date"> Jan 22</p>
              <a class="TodoItem-delete" href="javascript:void(0)">
                <img src="trashcan.png">
              </a>
            </div>
            <div class="TodoItem-container">
              <input class="TodoItem-checkbox" type="checkbox">
              Book a ticket
              <p class="TodoItem-date"> Jan 23</p>
              <a class="TodoItem-delete" href="javascript:void(0)">
                <img src="trashcan.png">
              </a>
            </div>
          </li>
        </ul>
      </section>
    </article>
  </main>
</body>

</html>
